.header , .footer {
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-around;
  width: 100vh;
}

.header {
  position: fixed;
  width: 100%;
}

.footer {
  display: flex;
  position: absolute;
  width: 100%;
}
